<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interprise.Framework.Shipping.Properties.Settings.ShippingNsoftware54ConnectionString" connectionString="Data Source=INTRVMACABENTA\INTERPRISESUITE;Initial Catalog=ShippingNsoftware54;Persist Security Info=True;User ID=rte;Password=admin" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Shipping.Properties.Settings.ISSIDEMOUSConnectionString" connectionString="Data Source=.\dwight;Initial Catalog=ISSIDEMOUS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Shipping.Properties.Settings.ShippingNsoftware54ConnectionString1" connectionString="Data Source=192.168.0.188\interprisesuite;Initial Catalog=ShippingNsoftware54;Persist Security Info=True;User ID=rte;Password=admin" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Shipping.Properties.Settings._54ConnectionString" connectionString="Data Source=.\interprisesuite;Initial Catalog=54;Persist Security Info=True;User ID=rte;Password=admin" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Shipping.Properties.Settings._54ConnectionString1" connectionString="Data Source=INTRVMACABENTA\INTERPRISESUITE;Initial Catalog=54;Persist Security Info=True;User ID=rte;Password=admin" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Shipping.Properties.Settings.ISSIDEMOUS_6_0_ConnectionString" connectionString="Data Source=INTJCNEGRE\SQL2008;Initial Catalog=ISSIDEMOUS(6.0);Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
