<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interprise.Framework.Inventory.My.MySettings.AmeriKidsConnectionString" connectionString="Data Source=ISSIDATACENTER;Initial Catalog=AmeriKids;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIModelConnectionString" connectionString="Data Source=ISSIDATACENTER;Initial Catalog=ISSIModel;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.AmerikidsConnectionString1" connectionString="Data Source=ISSISALESMKTG;Initial Catalog=Amerikids;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.DigiWorld2ConnectionString" connectionString="Data Source=ISSIDATACENTER;Initial Catalog=DigiWorld2;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.DemoCorpConnectionString" connectionString="Data Source=ISSIDATACENTER;Initial Catalog=DemoCorp;Persist Security Info=True;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDemoConnectionString" connectionString="Data Source=ISSIDATACENTER;Initial Catalog=ISSIDemo;Persist Security Info=True;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.RommuelConnectionString" connectionString="Data Source=ISSIDATACENTER;Initial Catalog=Rommuel;Persist Security Info=True;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIModelConnectionString1" connectionString="Data Source=ISSISALESMKTG;Initial Catalog=ISSIModel;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDEMOConnectionString1" connectionString="Data Source=ISSISALESMKTG;Initial Catalog=ISSIDEMO;Persist Security Info=True;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIMODELConnectionString2" connectionString="Data Source=ISSIDEV;Initial Catalog=ISSIMODEL;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDEMO_UKConnectionString" connectionString="Data Source=ISSIDEV;Initial Catalog=ISSIDEMO_UK;Persist Security Info=True;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDEMOUKConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=ISSIDEMOUK;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.TESTPRICELISTConnectionString" connectionString="Data Source=RPDCASTRO\SQLEXPRESS;Initial Catalog=TESTPRICELIST;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDEMOUSConnectionString" connectionString="Data Source=.;Initial Catalog=ISSIDEMOUS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDEMOUSConnectionString1" connectionString="Data Source=INTSQLSVR;Initial Catalog=ISSIDEMOUS;Persist Security Info=True;User ID=sa;Password=tsoft.net" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDEMOUSConnectionString2" connectionString="Data Source=INTMRREYES\SQL2008;Initial Catalog=ISSIDEMOUS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.BinLocationConnectionString" connectionString="Data Source=INTDEVSVR\SQL2008;Initial Catalog=BinLocation;User ID=sa;Password=Interprise!" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDEMOUS_6_0_ConnectionString" connectionString="Data Source=INTDEVSQLSVR\SQL2008;Initial Catalog=ISSIDEMOUS(6.0);Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Inventory.My.MySettings.ISSIDEMOUS_7_0_ConnectionString" connectionString="Data Source=INTDASISON\SQL2008;Initial Catalog=ISSIDEMOUS(7.0);Persist Security Info=True;User ID=sa;Password=Interprise!" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
