<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interprise.Framework.Customer.MySettings.ISSIDEMOUSConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ISSIDEMOUS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.LightSerializationConnectionString" connectionString="Data Source=INTDEVSVR\SQL2008;Initial Catalog=LightSerialization;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.ISSIMODELConnectionString" connectionString="Data Source=INTDEVSVR\SQL2008;Initial Catalog=ISSIMODEL;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.ISSIDEMOUS_6_0_ConnectionString" connectionString="Data Source=INTDEVSVR\SQL2008;Initial Catalog=ISSIDEMOUS(6.0);Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.ISSIMODEL_6_0_ConnectionString" connectionString="Data Source=INTDEVSVR\SQL2008;Initial Catalog=ISSIMODEL(6.0);Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.TestJobSchedulerConnectionString" connectionString="Data Source=.\msq2008;Initial Catalog=TestJobScheduler;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.PromotionDBConnectionString" connectionString="Data Source=INTDEVSQLSVR\SQL2008;Initial Catalog=PromotionDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.ISSIDEMOUS_15_1_ConnectionString" connectionString="Data Source=INTMRLUCANAS\SQL2012;Initial Catalog=ISSIDEMOUS(15.1);Persist Security Info=True;User ID=sa;Password=Interprise!" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.ISSIDEMOUS_16_ConnectionString" connectionString="Data Source=MARKREYES\SQL2012;Initial Catalog=ISSIDEMOUS(16);Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Interprise.Framework.Customer.MySettings.ISSIMODEL_18_ConnectionString" connectionString="Data Source=(LOCAL)\SQL2008;Initial Catalog=ISSIMODEL(18);Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
